.app-layout {
    min-height: 100vh;
    width: 100%;
}

.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 24px;
    height: 64px;
}

.app-logo {
    display: flex;
    align-items: center;
}

.app-logo img {
    height: 40px;
    object-fit: contain;
    display: block;
    margin-right: 16px;
}

.desktop-menu {
    flex: 1;
}

.mobile-menu {
    display: none;
}

@media (max-width: 767px) {
    .desktop-menu {
        display: none;
    }
    .mobile-menu {
        display: block;
    }

}

.ant-drawer .ant-menu-item-selected {
    color: #7c1524 !important;
    background-color: transparent !important;
}

.ant-drawer .ant-menu-item-selected a {
    color: #7c1524 !important;
}

.ant-drawer .ant-menu-item-selected::after {
    border-right: 3px solid #7c1524 !important;
}

.app-content {
    flex: 1;
}

.app-footer {
    text-align: center;
    background-color: #ffffff;
}
